:global(button) {
  background: transparent;
}

.button {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.button.onlyIcon {
  padding: 18px;
}

.primaryButton {
  background-color: var(--red);
  color: var(--white);
}

.secondaryButton {
  background-color: var(--white);
  color: var(--red);
  border: 1px solid var(--bg);
}

.secondaryButton,
.primaryButton {
  font-size: 17px;
  font-weight: 600;
  transition: background-color 0.3s;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  padding: 16px 32px;
}

.plainText {
  color: var(--red);
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.3s;
}

@media (hover: hover) {
  .primaryButton:hover {
    background-color: var(--red-hover);
  }

  .secondaryButton:hover {
    background-color: var(--white-hover);
  }

  .plainText:hover {
    color: var(--red-hover);
  }
}

.primaryButton:active {
  background-color: var(--red-active);
}

.plainText:active {
  color: var(--red-active);
}

.secondaryButton:active {
  background-color: var(--white-active);
}
