.phoneInput :global(.react-dropdown-select) {
  border: none;
  border-radius: 0;
  border-right: 1px solid #e8e6ea !important;
  height: 24px;
  box-shadow: none !important;
}

.input {
  border: 0;
  outline: 0;
  border-radius: 0;
  height: 100%;
  padding-left: 15px;
  font-size: 16px;
  border-radius: 0 15px 15px;
  overflow: hidden;
}

.phoneInput {
  border: 1px solid #e8e6ea;
  border-radius: 15px;
  height: 58px;
  padding: 0 15px;
}

.phoneInput :global(.react-dropdown-select-content) {
  text-wrap: nowrap;
}

.phoneInput :global(.react-dropdown-select-input) {
  display: none;
}

.phoneInput .input:not(.completed, :placeholder-shown) {
  color: var(--red);
}

.phoneInput :global(.react-dropdown-select-dropdown-handle) path {
  fill: #adafbb;
  stroke-width: 2px;
}
