.avatar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 25px;
  margin: 0 auto;
}

.avatarImage {
  width: 100%;
  height: 100%;
}

.avatar .cameraButton {
  position: absolute;
  bottom: 10px;
  left: auto;
  right: 6px;
  width: 60px;
  height: 60px;
  display: block;
}

.cameraButton img {
  width: inherit;
  height: inherit;
}
