.main {
  padding-top: 128px;
}

.timer {
  display: flex;
  justify-content: center;
  font-size: var(--h1-size);
  font-weight: 600;
  line-height: 150%;
}

.sendButton {
  font-size: 20px;
  width: fit-content;
  margin: 0 auto;
}
